.*.*~
.*.*.un~
.*~
.txt~
.*.*.swp
setup.bash
build/
devel/
logs/
.catkin_tools/
vendor/gitman
project/fetch_ws/src/curpp/
project/fetch_ws/src/geometric_shapes/
project/fetch_ws/src/geometry2/
project/fetch_ws/src/grasping_msgs/
project/fetch_ws/src/moveit/
project/fetch_ws/src/open_karto/
project/fetch_ws/src/robot_controllers/
project/fetch_ws/src/simple_grasping/
project/fetch_ws/src/sparse_bundle_adjustment/
project/fetch_ws/src/world_manager/
project/fetch_ws/src/graspit_interface/
project/fetch_ws/src/graspit/
project/fetch_ws/src/graspit_commander/
project/fetch_ws/src/slam_karto/
